<!DOCTYPE html>
<html>
  <head>
    <title>PresidentialRaceTweets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="banner">
      <%= image_tag "commander_in_tweets.png", :class => "banner-img" %>
    </div>
    <div id="call-to-action">Vote for the new Commander in Tweets by November 3, 2020</div>
    <%= yield %>
  </body>
</html>
